calc_token.exe
calc_token.tab.c
calc_token.tab.h
lex.yy.c
calc_token.exe.stackdump

/certamen/calc_token.exe
/certamen/calc_token.tab.c
/certamen/calc_token.tab.h
/certamen/lex.yy.c
/certamen/calc_token.exe.stackdump